<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I:GEULOO</title>
</head>
<body>
<div>
    <h1>I:GEULOO</h1>

    <div>
        <h2>파일 업로드</h2>
        <form action="/files/upload" method="post" enctype="multipart/form-data">
            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="제목">
            </div>
            <div>
                <label for="file">파일</label>
                <input type="file" id="file" name="file">
            </div>
            <div>
                <button type="submit">업로드</button>
                <button type="button" th:onclick="|location.href='@{/}'|">취소</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>