<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I:GEULOO</title>
</head>
<body>
<div>
    <h1>I:GEULOO</h1>

    <h2>홈 화면입니다. <span th:text="${member.name}">회원</span>님 안녕하세요.</h2>

    <div>
        <h3>발표자료 생성</h3>
        <button type="button" th:onclick="|location.href='@{/files/upload}'|">Create PPT</button>
    </div>

    <div>
        <h3>발표자료 확인</h3>
        <button type="button" th:onclick="|location.href='@{/works}'|">작업 목록</button>
    </div>
    <br>
    <div>
        <form action="/logout" method="post">
            <div>
                <button type="submit">로그아웃</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>